:root {
  --dark-green: #038125;
  --dark-green-alpha: #03812570;
  --text-gray: #dfc7c7;
  --select-border: #777;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 1rem 2rem;
  padding: 0;
  background-color: #1e1e1e;
  font-family: Roboto;
}
